<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div class="login-container">
                    <h1>Đăng nhập</h1>

                    <% if (error) { %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                        <% } %>

                            <form class="login-form" action="/login" method="POST">
                                <div class="form-control">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" required>
                                </div>

                                <div class="form-control">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" name="password" id="password" required>
                                </div>

                                <button class="btn" type="submit">Đăng nhập</button>
                            </form>
                </div>
            </main>

            <%- include('../includes/end.ejs') %>